config MACH_OPPO
	bool
	depends on ARCH_MSM

config MACH_OPPO_MSM8974
	depends on ARCH_MSM8974
	select MACH_OPPO
	bool "Oppo MSM8974 Platform"
	help
	  Support for Oppo MSM8974 device variants.

menu "Oppo board selection"

config MACH_FIND7
	select MACH_OPPO_MSM8974
	bool "Find7"
	help
	  Support for the Find7/Find7S variant

config MACH_FIND7OP
	select MACH_OPPO_MSM8974
	bool "Oneplus"
	help
	  Support for the Oneplus variant

endmenu

menu "Oppo specific options"

config OPPO_TRACE
	tristate "Oppo trace driver"
	default n
	help
	  Say Y to enable Oppo trace driver

config OPPO_DEVICE_INFO
	bool "Oppo device info driver"
	default y if MACH_OPPO
	help
	  Say Y to enable Oppo device info driver

endmenu
