/* Copyright (c) 2012-2013, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&cci {
	qcom,camera@20 {
		qcom,cam-vreg-min-voltage = <1050000 0 2800000 2800000>;
		qcom,cam-vreg-max-voltage = <1050000 0 2800000 2800000>;
	};

	qcom,camera@6c {
		qcom,cam-vreg-min-voltage = < 2800000 0>;
		qcom,cam-vreg-max-voltage = < 2800000 0>;
	};
};
